* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e6d2d5;
}

.container {
    max-width: 500px;
    margin:140px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    color: #e38c99;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #444;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}


button {
    background-color: #e38c99;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #d67283;
}

.navbar {
    justify-content: center !important;
    background-color: white;
}

@media (max-width: 768px) {
    .container {
        width: 92%;
        padding: 20px;
        margin-top: 100px 0px;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}