*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;/*deixar bonitinho a ancora das outras seçoes*/
}

body{
    color: #000;
    background-color: #fff;
    line-height: 1.5;
    font-family: "Cantarell", sans-serif !important;
}

#inicio {
    scroll-padding-top: 0 !important;
    scroll-margin-top: 0 !important;
}